<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Pollos Primos</title>
  <link rel="stylesheet" href="../../vendor/bulma-0.9.0/css/bulma-rtl.min.css" />
  <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
  <header>
    <div class="container is-vcentered ">
      <div class="columns">
        <div class="column has-background-dark has-text-white">

          <a href="https://www.facebook.com/lospollos.primos.3" target="_blank" data-label="Facebook"
            rel="noopener noreferrer nofollow" class="icon">
            <img src="https://cdn.icon-icons.com/icons2/2201/PNG/512/facebook_logo_square_icon_134009.png">
          </a>
          <a href="https://www.instagram.com/lospollos.primos/" target="_blank" data-label="Facebook"
            rel="noopener noreferrer nofollow" class="icon">
            <img src="https://cdn.icon-icons.com/icons2/2201/PNG/512/instagram_ig_logo_icon_134013.png">
          </a>
          <strong class="has-text-white"> Siganos en nuestras redes sociales...</strong>
        </div>
      </div>
    </div>
    </div>
    <div class="container  is-full">
      <div class="columns notification is-primary">

        <div class="column notification is-vcentered is-primary">

          <figure class="image is-128x128">
            <img class="is-rounded"
              src="https://img.freepik.com/vector-gratis/ilustracion-pulgares-arriba-pollo_6460-630.jpg?size=338&ext=jpg">
          </figure>
        </div>
        <div class="column notification is-vcentered is-four-fifths is-primary">
          <h1 class="title is-1">Los Pollos Primos</h1>
        </div>

        <div class="column notification is-primary" aling="right">

          <a class="button">Empresa</a>

          <a class="button" style="margin-top: 1cm;">Cliente</a>

        </div>
      </div>
    </div>
    <div class="container is-vcentered ">
      <div class="columns has-background-dark has-text-white">
        <div class="column has-background-dark has-text-white">
          <strong class="has-text-white"> Bienvenido</strong>
        </div>
        <div class="column has-background-dark has-text-white "Style="text-align: right;">
          <a href="../paginas/crearCuenta.html" class="has-text-white"> Crear Cuenta</a>  
        </div>  
      </div>
    </div>
  </div>
  </div>
    </div>
  </header>